.emailList {
  flex: 1;
  overflow: scroll;
}

.emailList__settings {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  border-bottom: 1px solid whitesmoke;
  border-color: white;
  z-index: 999;
  padding-right: 10px;
}

.emailList__sections {
  position: sticky;
  top: 0;
  display: flex;
}

.emailList__list {
  padding-bottom: 20%;
}

/* hide scrollbar for Chrome, Safari, Opera */
.emailList::-webkit-scrollbar {
  display: none;
}

.emailList {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
